{% extends "core/entity_list.html" %}
{% load core_extras %}

{% block content_entity %}
                {% for category in object_list %}
                
                    <tr>
                        <td onclick=javascript:redirect('{% url ""|addstr:url_name|addstr:"_update" pk=category.pk%}')>{{category.pk}}</td>
                        <td onclick=javascript:redirect('{% url ""|addstr:url_name|addstr:"_update" pk=category.pk%}')>{{category.father}}</td>
                        <td onclick=javascript:redirect('{% url ""|addstr:url_name|addstr:"_update" pk=category.pk%}')>{{category.name}}</td>
                        <td><button id="btn-modal" onclick="javascript:pass_info(this.parentElement.parentElement)" href="#" data-bs-toggle="modal" data-bs-target="#aviso-borrar" class="btn btn-outline-danger">Borrar</button></td>
                    </tr>
                {% endfor %}
{% endblock %}