.main-logo{
    height: 80px;
}
.link-item {
    
    color: #2800A0 !important;
    font-weight: bold;
    letter-spacing: 1px;
}
.polygon-footer{
    background-color: #001D42;
    height: 150px;
}

tr:hover{
    cursor: pointer;
}

input.search_product{
    width: 20rem;
    margin-right: 5px;
}

.responsive-text{
    font-size: 1vw;
}

.img-product-search{
    
    max-height: 120px;
}

.billing-list{
    width: 5vw;
}

.card-size-fix{
    width: 25rem;
}

.product-list-search{
    overflow-y: scroll;
    max-height: 300px;
}
.client-list-search{
    overflow-y: scroll;
    max-height: 300px;
}

.btn-purple{
    background-color: purple;
    color: white;
    margin-left: 5px;
    height: 38px;
}